.navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  height: 4rem;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 8rem;
}
.navbar_logo_inner_text {
  font-weight: 500;
}
.navbar_menu_list {
  font-size: .8rem;
  font-weight: 500;
}

/* Desktop */
.navbar_links {
  width: 40%;
}
.navbar_links .navbar_menu_list {
  display: flex;
  justify-content: space-between;
}

/* Phone */
.navbar_menu_icon {
  font-size: 1.2rem;
  cursor: pointer;
}
.navbar_menu {
  background-color: #fff;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100%;
}

@media screen and (max-width: 860px){
  .navbar {
    padding: 0 2rem;
  }
  .navbar_menu_list_item {
      padding: .8rem 1rem;
      border-bottom: 1px solid #eaeaea;
  }
}

@media screen and (max-width: 1024px){
  .navbar {
    padding: 0 2rem;
  }
}