.navbar {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  height: 4rem;
  width: 100%;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 8rem;
  position: fixed;
}

.navbar_logo_inner_text {
  font-weight: 600;
}
.navbar_menu_list {
  font-size: .8rem;
  font-weight: 600;
}

/* Desktop */
.navbar_links {
  width: 40%;
}
.navbar_links .navbar_menu_list {
  display: flex;
  justify-content: space-between;
}

/* Phone */
.navbar_menu_icon {
  font-size: 1.2rem;
  cursor: pointer;
}
.navbar_menu {
  background-color: #fff;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 860px){
  .navbar_menu_list_item {
      padding: .8rem 1rem;
      border-bottom: 1px solid #eaeaea;
  }
}

/* when scrolled above on screen above 860px*/
@media screen and (min-width: 860px)  {
  .scrolled {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    color: #fff;
  }
}